name: GitHub Action

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  hello-world:
    runs-on: ubuntu-latest
    
    steps:
      - name: 22f2000997@ds.study.iitm.ac.in
        run: echo "Hello from my first GitHub Action!"
      
      - name: Print current date
        run: date
